div .container {
	position: fixed;
	margin: 0 auto;
	width: 525px;
	height: 450px;
	z-index: 1;
}
div.col {
	height: 75px;
	width: 75px;
	border: 1px solid orange;
	float: left;
	background: white;
	border-radius: 38px;
	margin: 10px;
}
div.row  {
	width: 700px;
	height: 100px;
	background: yellow;
	/*z-index: -1;*/
}

body {
	background: blue;
}