div .container {
	position: fixed;
	margin: 0 auto;
	width: 525px;
	height: 450px;
	z-index: 1;
}
div.col {
	height: 75px;
	width: 75px;
	border: 1px solid orange;
	float: left;
	background: white;
	border-radius: 38px;
	margin: 10px;
}
div.row  {
	width: 700px;
	height: 100px;
	background: yellow;
	/*z-index: -1;*/
}

body {
	background: blue;
}
div#screen {
	width: 100%;
	height: 100%;
	position: fixed;
	background: blue;
	z-index: -4;
}
div#victory {
	width: 120%;
	height: 120%;
	position: fixed;
	background: rgba(50, 50, 50, .7);
	z-index: -5;
}
div#victory h1{
	text-align: left;
	padding-left: 150px;
	width: 50%;
}
div#victory button {
	color: pink;
	background: black;
	height: 200px;
	width: 200px;
	border-radius: 100px;
	position: relative;
	left: 25%;
	font-size: 25px;
}
h1.kudos {
	font-family: cursive;
	font-size: 50px;
}