body {
	background: black;
	color: white;
}

.heading {
	text-align: center;
	margin: 0 auto;
}

p {
	background-color: rgba(50, 0, 0, .3);
	color: limegreen;
}

.myPic {
	width: 75px;
	height: 75px;
	border-radius: 37px;

}

#board {
	position: fixed;
    margin: auto;
    width: 450px;
}

div .square {
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 1);
    outline: 1px solid;
    float: left;
}
div .square:hover {
	background: rgba(50, 0, 0, 1);
}


.X {
	width: 150px;
	height: 150px;
	position: fixed;
	z-index: -1;
}
.O {
	width: 150px;
	height: 150px;
	position: fixed;
	z-index: -2;
}